
/* product */
.product {
  margin: 30px 0px;
}
.product > .title-product {
  text-align: center;
}
.product > .title-product h2 {
  color: rgb(240, 140, 53);
  text-transform: capitalize;
  padding: 30px 0px 0px 0px;
}
.items-product {
  position: relative;
  padding-bottom: 24px;
}
.items-product .image-items-product {
  border-radius: 15px;
  overflow: hidden;
}
.items-product .image-items-product a img {
  filter: brightness(50%);
}
.items-product .title-items-product {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items-product .title-items-product a p {
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
  color: aliceblue;
}


/* thông tin về cửa hàng */
.store-information {
  margin-top: 80px;
  margin-bottom: 80px;
}



