* {
  box-sizing: border-box;
}
body {
  margin: 0px auto;
  padding: 0px;
}
.container {
  max-width: 1440px;
  margin: 0px auto;
  height: auto;
  padding: 0px;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
p {
  margin: 5px;
}

.banner-image {
  background-color: rgb(45, 45, 45);
  margin: 0px;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding: 2px 0px;
  text-align: center;
}
.banner-image p {
  color: #c2c2c2;
  margin: 0px;
}



/*navbar */
.navbar {
  background-color: #f0f0f0;
}
.logo {
  width: 5%;
}
.bg-lightt {
  background-color: #e4e2e1;
}
.navbar-nav {
  justify-content: center;
  width: 100%;
}
.navbar-nav .nav-item {
  padding: 0px 15px;
}
.navbar-nav .nav-item a {
  font-size: 18px;
}
.icon-banner {
  width: 15%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.icon-banner a i {
  color: #5c5c5c;
}



/* sản phẩm bán chạy */
.hot-product {
  margin: 50px 0px;
}
.title-hot-product {
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-align: center;
}
.list-products-hot-product {
  border: 1px solid rgb(219, 219, 219);
  margin-bottom: 24px;
}
.information-hot-product {
  padding: 10px 10px 0px 10px;
}
.title-information-hot-product a {
  color: #555555;
  transition: 0.5s;
}
.title-information-hot-product a:hover {
  color: #000000;
}
.items-information-hot-product {
  padding-top: 10px;
}
.items-information-hot-product .pricee .price {
  color: red;
  font-size: 18px;
  margin: 0px;
}
.items-information-hot-product .pricee .cost {
  font-size: 15px;
  margin: 0px;
  text-decoration-line: line-through;
}
.buy-button > a > p {
  background: #e92929;
  padding: 7px;
  color: white;
  border-radius: 5px;
  transition: 0.25s;
}
.items-information-hot-product>.buy-button>a>p:hover{
  background-color: rgb(164, 6, 6);
}



/* tin tức */
.adidas-news .title-adidas-news {
  margin-bottom: 20px;
}
.adidas-news .title-adidas-news:first-letter {
  text-transform: capitalize;
}
.posts-new-adidas {
  margin-bottom: 24px;
}
.title-posts-new-adidas {
  color: #313131;
  transition: 0.25s;
  margin: 2px;
}
.title-posts-new-adidas:hover {
  color: #9d9d9d;
}




/* chân trang */
.main-footer {
  background: rgb(39, 39, 39);
  padding: 10px 0px 30px 0px;
  margin-top: 50px;
}
.headingFooter {
  margin-top: 30px;
}
.isocial-group {
  padding: 0px;
  margin: 0px 50px;
}
.isocial-group li {
  list-style: none;
}
.col-footer .headingFooter {
  margin-bottom: 20px;
  color: rgb(215, 215, 215);
}
.col-footer .nav_footer a p {
  color: rgb(125, 125, 125);
}
.col-info-right {
  margin: 0px;
}
.col-info-right h4 {
  color: rgb(215, 215, 215);
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}
.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-phone {
  font-size: 25px;
}
.fa-facebook {
  background: #038ff2;
  color: #eaeaea;
  padding: 5px;
  border-radius: 5px;
}
.fa-phone {
  background: #149a69;
  color: #e4e2e1;
  padding: 5px;
  border-radius: 5px;
}
.fa-twitter {
  background: #038ff2;
  color: #e4e2e1;
  padding: 5px;
  border-radius: 5px;
}
.fa-instagram {
  color: #e96329;
  background: #f2f203;
  padding: 4px 6px;
  border-radius: 5px;
}
.nav_footer a p {
  transition: 0.25s;
}
.nav_footer a p:hover {
  color: rgb(234, 234, 234);
}

.dp {
  display: flex;
  justify-content: space-between;
}

